@import '../utilities/variables';

@mixin flexy($disp: flex, $dir: null, $wrap:null, $just:null, $align: null, $bas:null) {
	display: $disp;
	flex-direction: $dir;
	flex-wrap:$wrap;
	justify-content: $just;
    align-items: $align;
    flex-basis: $bas;
}

@mixin blocky($disp: block, $margl: auto, $margr: auto, $margt: null, 
$maxw: null) {

	display: $disp;
	margin-left: $margl;
	margin-right: $margr;
	margin-top: $margt;
    max-width: $maxw; 
}

@mixin light-transition($lighten, $trans:background-color) {
    
    background-color: $lighten;
    color: complement($lighten);
    transition: 
        background-color .2s ease-in-out, 
            color .2s ease-in-out; 

}

//buttons transition color maps
//===================================

$transition: (
    'default': $secondary-color,
    'error': $color-error,
    'info': $accent-lght,
    'success': $color-success,
    'warning':  $color-warning
);

$on-hover: (
    'default': $secondary-color-lighten,
    'error': $color-error-light,
    'info': $accent-lght-light,
    'success': $color-success-light,
    'warning':  $color-warning-light
);

$column-colors: (
    'col-1':  #927bc1,
    'col-2': $color-warning,
    'col-3': $accent-lght,
    'col-4': $secondary-color,
    'col-5': $color-success,
    'col-6': $accent-dk,
    'col-7': $accent-medium,
    'col-8': #fd9f85,
    'col-9': $color-error,
    'col-10': $color-success,
    'col-11': $secondary-color,
    'col-12': $primary-color
);

$col-flex: (
    'col-1': 8.33%,
    'col-2': 16.67%,
    'col-3': 25.00%,
    'col-4': 33.33%,
    'col-5': 41.67%,
    'col-6': 50.00%,
    'col-7': 58.33%,
    'col-8': 66.67%,
    'col-9': 75.00%,
    'col-10': 83.33%,
    'col-11': 91.67%,
    'col-12': $percent-size
);