// ------------------------
// variable colors
// ------------------------

$primary-color: #58e1c1;
$secondary-color:  #51ddfc;
$accent-dk:  #4da2bb;
$accent-lght: #deb2ee;
$accent-medium:  #ec9fa3;
$color-warning: #fd7856;
$color-error:  #e4757a;
$color-success:  #63cc82;
$primary-font-color:  #777;

$secondary-color-lighten: lighten($secondary-color, 15%);
$color-error-light: lighten($color-error, 15%);
$accent-lght-light: lighten($accent-lght, 15%);
$color-success-light: lighten($color-success, 15%);
$color-warning-light: lighten($color-warning, 15%);


// ------------------------
// variable sizes
// ------------------------

$main-size: 10px;
$percent-size: 100%;
$media-break-pt: 768px;

