@import  '../utilities/mixins',
          '../utilities/variables';


/* ============================================= */
/*              Buttons                          */
/* ============================================= */

.btn {
    margin-top: 15px;
    width: $percent-size;
    color: #fff;
    border: none;
    padding: $main-size 0;
    text-transform: uppercase;
    border-radius: 5px;
  }
  @each $theme, $colors in $transition {
    .btn-#{theme} {
        color: $colors;
    }
}

  // .default {
  //   background-color: $secondary-color;

  //     &:hover {
  //       @include light-transition($secondary-color-lighten);
  //     }
  // }
  
  // .error {
  //   background-color: $color-error;

  //   &:hover {
  //     @include light-transition($color-error-light);
  //   }
  // }
  
  // .info {
  //   background-color: $accent-lght;

  //   &:hover {
  //     @include light-transition($accent-lght-light);
  //   }
  // }
  
  // .success {
  //   background-color: $color-success;

  //   &:hover {
  //     @include light-transition($color-success-light);
  //   }
  // }
  
  // .warning {
  //   background-color: $color-warning;

  //   &:hover {
  //     @include light-transition($color-warning-light);
  //   }
  // }
  
  
  
  /* ============================================= */
/*              Media Queries                    */
/* ============================================= */

  @media (min-width: $media-break-pt) {
    .btn {
      padding: $main-size 30px;
    }
    
    .btn + .btn {
      margin-left: $main-size;
    }
}