@import  '../utilities/mixins',
          '../utilities/variables';


/* ============================================= */
/*              Buttons                          */
/* ============================================= */

.btn {
    margin-top: 15px;
    width: $percent-size;
    color: #fff;
    border: none;
    padding: $main-size 0;
    text-transform: uppercase;
    border-radius: 5px;
  }
  @each $theme, $colors in $transition {
    .#{$theme} {
        background-color: #{$colors};
    }
  }

.default:hover {
        @include light-transition($secondary-color-lighten);
    }

.error:hover {
      @include light-transition($color-error-light);
    }
  
.info:hover {
      @include light-transition($accent-lght-light);
    }
  
.success:hover {
      @include light-transition($color-success-light);
    }
  
.warning:hover {
      @include light-transition($color-warning-light);
    }
  
  
  /* ============================================= */
/*              Media Queries                    */
/* ============================================= */

  @media (min-width: $media-break-pt) {
    .btn {
      padding: $main-size 30px;
    }
    
    .btn + .btn {
      margin-left: $main-size;
    }
}