@import '../utilities/variables',
        '../utilities/mixins';

/* ============================================= */
/*              Grid System                      */
/* ============================================= */

.container {
    padding: 0 $main-size;
  }
  
.row {
    @include flexy($dir: column);
    display: flex;
    flex-direction: column;
    padding: 1em $main-size;
  }
  
[class^=col] {
    margin-top: $main-size;
    flex-basis: $percent-size;
    min-height: 25px;
    padding: $main-size;
    border-radius: 5px;
  }

@each $col-theme, $color in $column-colors {
    .theme.#{$col-theme} {
      background-color: #{$color};
    }
}
  
.card {
    flex-basis: $percent-size;
  }

/* ============================================= */
/*              Media Queries                    */
/* ============================================= */

@media (min-width: $media-break-pt) {

  .container {
    @include blocky($maxw: 1400px);
  }
  
  .centered {
   @include blocky;
  }
  
  .row {
    flex-direction: row;
  }
  
  [class^=col] {
    @include flexy($just: center, $align: center);
    margin-top: 0;
  }
  
  [class^=col] + [class^=col] {
    margin-left: $main-size;
  }
  
  @each $columns, $flex in $col-flex {
  .#{$columns} {
    flex-basis: #{$flex};
  }
}
  
  .logo {
    margin-left: initial;
    margin-right: initial;
  }
  
  }