@import '../utilities/variables',
        '../utilities/mixins';

/* ============================================= */
/*              Grid System                      */
/* ============================================= */

.container {
    padding: 0 $main-size;
  }
  
  .row {
    @include flexy($dir: column);
    display: flex;
    flex-direction: column;
    padding: 1em $main-size;
  }
  
  [class^=col] {
    margin-top: $main-size;
    flex-basis: $percent-size;
    min-height: 25px;
    padding: $main-size;
    border-radius: 5px;
  }
  /* https://teamtreehouse.com/library/sass-basics-2/loop-through-lists-with-each
  https://teamtreehouse.com/library/sass-basics-2/loop-through-data-in-a-map-with-each
  Resources
  @each ? */
  .theme.col-1 {
    background-color: #927bc1;
  }
  
  .theme.col-2 {
    background-color: $color-warning;
  }
  
  .theme.col-3 {
    background-color: $accent-lght;
  }
  
  .theme.col-4 {
    background-color: $secondary-color;
  }
  
  .theme.col-5 {
    background-color: $color-success;
  }
  
  .theme.col-6 {
    background-color: $accent-dk;
  }
  
  .theme.col-7 {
    background-color:$accent-medium;
  }
  
  .theme.col-8 {
    background-color: #fd9f85;
  }
  
  .theme.col-9 {
    background-color:$color-error;
  }
  
  .theme.col-10 {
    background-color: $color-success;
  }
  
  .theme.col-11 {
    background-color: $secondary-color;
  }
  
  .theme.col-12 {
    background-color: $primary-color;
  }
  
  .card {
    flex-basis: $percent-size;
  }

/* ============================================= */
/*              Media Queries                    */
/* ============================================= */

@media (min-width: $media-break-pt) {

  .container {
    @include blocky($maxw: 1400px);
  }
  
  .centered {
   @include blocky;
  }
  
  .row {
    flex-direction: row;
  }
  
  [class^=col] {
    @include flexy($just: center, $align: center);
    margin-top: 0;
  }
  
  [class^=col] + [class^=col] {
    margin-left: $main-size;
  }
  
  .col-1 {
    flex-basis: 8.33%;
  }
  
  .col-2 {
    flex-basis: 16.67%;
  }
  
  .col-3 {
    flex-basis: 25.00%;
  }
  
  .col-4 {
    flex-basis: 33.33%;
  }
  
  .col-5 {
    flex-basis: 41.67%;
  }
  
  .col-6 {
    flex-basis: 50.00%;
  }
  
  .col-7 {
    flex-basis: 58.33%;
  }
  
  .col-8 {
    flex-basis: 66.67%;
  }
  
  .col-9 {
    flex-basis: 75.00%
  }
  
  .col-10 {
    flex-basis: 83.33%;
  }
  
  .col-11 {
    flex-basis: 91.67%;
  }
  
  .col-12 {
    flex-basis: $percent-size;
  }
  
  .logo {
    margin-left: initial;
    margin-right: initial;
  }
  
  }