@import '../utilities/variables';


/* ============================================= */
/*              Navigation                       */
/* ============================================= */

.nav {
    @include flexy($dir: column, $bas:$percent-size);
    padding-left: 0;
  
  
        &-link {
            text-align: center;
            border-radius: 5px;
            padding: $main-size 0;
            display: block;
            width: $percent-size;
            transition: 
            background-color .2s ease-in-out, 
            color .2s ease-in-out;
        }
        
        &-link:hover {
            color: #fff;
            background-color: $primary-color;
        }
}

/* ============================================= */
/*              Media Queries                    */
/* ============================================= */

@media (min-width: $media-break-pt) {
    .nav {
        @include flexy($dir: row, $just:flex-end, $align:center);

        .nav-link {
        flex-basis: 100px;
        }
    }
}